.body {
    background: url(http://i.imgur.com/668ILZ6.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    margin-top: 20px;
    padding: 25px;
    background-color: white;
    border-radius: 10px;
}

.rewardBox {
    float: right;
    width: 730px;
    height: 260px;
}

.logHistory {
    width: 100%;
    height: 300px;
    margin-top: 20px;
    border-top: 1px solid #bbbbbb;
    float: left;
}

.timeInput {
    width: 70px;
}

.logBox {
    width: 400px;
    height: 260px;
    padding-right: 10px;
    border-right: 1px solid #bbbbbb;
    float: left;
}

#logincontainer {
    background-color: white;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    height: auto;
    padding: 20px;
}

#btnCreateUser {
    float: left;
    width: 45%;
    margin-top: 10px;
}

#btnLogin {
    float: right;
    width: 45%;
    margin-top: 10px;
}

.createUserBox {
    width: 400px;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 5px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.progressTab {
    background-color: white;
    width: 800px;
    height: 500px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.sidebar {
    
    float: left;
    width: 30%;
    height: 100%;
    border-radius: 10px;
}

.userImg {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px;
}

.userInfo {
    width: 100%;
    padding: 10px;
    
}

.pgRightPanel {
    background-color: #ff8800;
    float: right;
    width: 70%;
    height: 100%;
    border-radius: 10px;
}

.header {
    background-color: #fff;
    border-top-right-radius: 10px;
    padding-top: 5px;
}

.mainWindow {
    background-color: #92bbaa;
    
}

.overview {
    background-color: #b6ff00;
}

.overviewLeft {
    width: 15%;
    background-color: #ff0000;
    float: left;
    padding: 10px;
}

.overviewRight {
    width: 85%;
    background-color: #ff5500;
    float: left;
    padding: 10px;
}

.latest {
    background-color: #b6dd44;
    
}

.latestEntry {
    background-color: #991919;
    width: 200px;
    float: left;
}

.latestAch {
    background-color: #997919;
    width: 200px;
    float: right;
}